export(cal_img)
export(check_nifti)
export(get.deriv.smooth.hist)
export(get.largest.mode)
export(get.last.mode)
export(make_img_voi)
export(smooth_hist)
export(whitestripe)
export(whitestripe_hybrid)
export(whitestripe_ind_to_mask)
export(whitestripe_norm)
export(zero_trans)
import(mgcv)
import(oro.nifti)
